
<a [routerLink]="['/home']" >首页</a>
<!--<a [routerLink]="['/product']" [queryParams]="{id:1}">详情页面</a>-->
<a [routerLink]="['/product',2]">详情页面</a>
<button class="btn btn-default" (click) = "toProductInfo()">商品详情</button>
<a [routerLink]="[{outlets:{primary: 'home',aux:'chat'}}]">开始聊天</a>
<a [routerLink]="[{outlets:{aux:null}}]">结束聊天</a>
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>

<h1>依赖注入</h1>
<ul>
  <li *ngFor="let user of users">
    用户的姓名: {{user.name}}; 用户的年龄: {{user.age}}; 用户的邮箱: {{user.email}}
  </li>
</ul>
